.cabecera { 
    align-items: center;
    display: flex;
}

@media screen and (min-width:0) {
    .cabecera{
        padding: 0 1rem;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .cabecera{
        padding: 1rem 4rem 2rem 8rem;
        justify-content: space-between;
    }
}