.hobbies__item{
    background: #FFFFFF;
    width: 176px;
    height: 174px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;
    
}